body{
    background-color: #F09F1B;
    size: 960px;
    font-family: 'Roboto Mono', monospace;
}
.row{
    background-color: #265978;
    margin-bottom: 100px; 
}
h2{
   color: #fcef41;
}
.h1-2{
    color: #db5e38;
}
.jumbotron{
    background-color: #265A76;
    align-content: center
}
#footer{
    background-color: #265978;
    text-align: center;
    padding: 20px;
    color: #fcef41
}
.card-text{
    color: #265A76;
    background-color: #fcef41;
    margin-top: 150px;
}
.nav-link{
    color: #fcef41
}
a{
    color: #F09F1B;
}
.container-github{
 display: flex;
 justify-content: center
}
.card-text-2{
    align-content: center;
    color: #265A76;
}
#card-title{
    color: #265A76
}
#Me{
    margin-bottom: 5%;
    height: 500px;
    width: 500px;
    
}
.container-pic{
    justify-content: center;
}
@media (min-width: 576px) and (max-width: 767.98px) {
    [class*="col-"] {
        width: 100%;
      }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }